<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/"/>
    <targets>      
      <target name="information" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt" networkWrites="true" layout="${time} - ${machinename} - ${windows-identity} - ${message}"/>
      <target name="debug" xsi:type="OutputDebugString" layout="[${time}][${level}][${callsite}] - ${message}" />

    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="information" />
      <logger name="*" minlevel="Debug" writeTo="debug" />
    </rules>
  </nlog>
</configuration>