<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Alarmy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>      
      <target name="information" xsi:type="File" fileName="${databasePath}\logs\${shortdate}.txt" networkWrites="true" layout="${time} - ${machinename} - ${windows-identity} - ${message}" />
      <target name="debug" xsi:type="OutputDebugString" layout="[${time}][${level}][${callsite}] - ${message}" />

    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="information" />
      <logger name="*" minlevel="Debug" writeTo="debug" />
    </rules>
  </nlog>
  <applicationSettings>
    <Alarmy.Properties.Settings>
      <setting name="DatePickerFormat" serializeAs="String">
        <value>dd.MM.yyyy HH:mm</value>
      </setting>
      <setting name="ImportDateFormat" serializeAs="String">
        <value>dd\.MM\.yy HH\:mm</value>
      </setting>
      <setting name="ImportCaptionFormat" serializeAs="String">
        <value>{0} (#{1})</value>
      </setting>
      <setting name="ImportCaptionPatterns" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>^.+,.+$</string>
            <string>^\d{3,4}$</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AlarmSoundFile" serializeAs="String">
        <value>alarm.wav</value>
      </setting>
      <setting name="CheckInterval" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnableSound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PopupOnAlarm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmartAlarm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlarmListGroupInterval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="AlarmDatabasePath" serializeAs="String">
        <value>%TEMP%\alarms.db</value>
      </setting>
      <setting name="FressnessInMinutes" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RemindAllAlarms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReminderInterval" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="RepositoryInterval" serializeAs="String">
        <value>60</value>
      </setting>
    </Alarmy.Properties.Settings>
  </applicationSettings>
</configuration>